*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: inherit;
}

body {
  all: unset;
  height: 100%;
}

.bg {
  background-color: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: transparent;
  animation: infinite spin 20s linear;
}

#_1 {
  border-radius: 999px 0 0 0;
  border-top: 2px solid red;
  border-left: 2px solid red;
  transition: all ease-in-out 0.3s;
}

#_2 {
  border-radius: 0 999px 0 0;
  border-top: 2px solid green;
  border-right: 2px solid green;
  transition: all ease-in-out 0.3s;
}

#_3 {
  border-radius: 0 0 0 999px;
  border-bottom: 2px solid rgb(163, 26, 163);
  border-left: 2px solid rgb(163, 26, 163);
  transition: all ease-in-out 0.3s;
}

#_4 {
  border-radius: 0 0 999px 0;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  transition: all ease-in-out 0.3s;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1360px) {
  .container {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 70%;
  }
}
